/*
Colors Used

Text Color:
Primary Color: 
Secondary Color: 

*/

body {
    font-weight: 400;
    font-size: 16px;
    background-color: khaki;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.button-class {
    box-shadow: none;
    border: #000000, 60px;
    border-color: #000000;
    width: 135px;
    margin: 4px;
    align-content: stretch;
    font-size: 16px;
    font-weight: 500;
    background-color: lightblue;
    cursor: pointer:
    padding: 10px;
    display: block;
}

.pokemon-list {
  display: inline-block;
}

p {
    text-align: center;
}

.modal img {
  height: 300px;
  width: auto;
}

h3  {
  font-weight: 400;
  font-size: 20px;
  display: block;
}

ul {
  list-style-type: none;
}

li  {
  display: inline-block;
}
