/*
Colors Used

Text Color:
Primary Color: 
Secondary Color: 

*/

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}