/*
Colors Used

Text Color:
Primary Color: 
Secondary Color: 

*/

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

.button-class {
    font-size: 16px;
    font-weight: 200;
    background-color: aquamarine;
}

#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* to show it above other content */
    z-index: 999;
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;
    display: none;
    text-align: center;
}

#modal-container.is-visible {
    display: block;
  }
  
#modal-container.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}
  
  .modal h1 {
    font-weight: bold;
    margin-top: 0;
  }
  
  .modal p {
    margin-bottom: 0;
  }
  
  .input-wrapper {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    min-width: 75px;
  }
  
  .error-message {
    color: red;
    font-size: 0.8em;
  }

  .img-element {
    height: 100;
    width: auto;
  }